{% extends 'base.html' %}
{% load static %}

{% block title %}تغییر پروفایل {% endblock %}

{% block content %}
    <main>

        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-11 col-lg-10">
                        <div class="user-panel custom-bg">

                            <form enctype="multipart/form-data" method="post">
                                {% csrf_token %}
                                <div class="user-panel-box">

                                    <div class="user-panel-profile">
                                        {% if request.user.image %}
                                            <img src="{{ request.user.image.url }}" alt="" onclick="click_input()">
                                        {% else %}
                                            <img src="{% static "assets/image/sutdent-prof.png" %}" alt=""
                                                 onclick="click_input()">
                                        {% endif %}
                                    </div>
                                    <div class="change-profile-btn" hidden>
                                        {{ form.image }}
                                    </div>

                                    <!-- item -->
                                    <div class="user-panel-field">
                                        <i class="fa fa-user"></i>
                                        {{ form.first_name }}
                                    </div>
                                    <!-- item -->

                                    <!-- item -->
                                    <div class="user-panel-field">
                                        <i class="fa fa-user"></i>
                                        {{ form.last_name }}
                                    </div>
                                    <!-- item -->

                                    <!-- item -->
                                    <div class="user-panel-field">
                                        <i class="fa fa-envelope"></i>
                                        {{ form.email }}
                                    </div>
                                    <!-- item -->
                                    <div class="user-panel-field">
                                        <i class="fa fa-phone"></i>
                                        {{ form.phone_number }}
                                    </div>
                                    <!-- item -->

                                    <!-- item -->
                                    <div class="user-panel-field">
                                        <i class="fa fa-address-book p-2"></i>
                                        {{ form.media }}
                                        {{ form.about }}
                                    </div>
                                    <!-- item -->

                                </div>
                                <div class="pb-2 border-bottom">
                                    <a href="{% url "accounts:password_change" %}" class="small">
                                        برای تغییر رمز عبور خود کلیک کنید!!
                                    </a>
                                </div>

                                <div class="d-flex justify-content-center mt-3 ">
                                    <button type="submit" class="btn custom-btn w-50"
                                            href="{{ form.get_absolute_url }}">اعمال تغییرات
                                    </button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <script>
        function click_input() {
            document.getElementById('id_image').click()
        }
    </script>

{% endblock %}


