{% extends 'base.html' %}
{% block title %}  بازیابی گذرواژه {% endblock %}
{% block content %}
    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-7 col-lg-5">
                        <div class="custom-bg p-2">
                            <div class="my-3 text-center">رمز یک بار مصرف</div>
                            <form method="post">{% csrf_token %}
                                {{ form.as_p }}
                                <div class="my-3">
                                    <button type="submit" class="btn custom-btn w-100">ورود</button>
                                </div>
                            </form>
                            <div class="">
                                <p class="small text-center my-3"><a href="{% url "accounts:login" %}">ایا کد ارسال نشد؟دوباره امتحان کنید.</a></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock %}


