{% extends 'base.html' %}
{% block title %} {% endblock %}
{% block content %}

    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-7 col-lg-5">
                        <div class="custom-bg p-2">

                            <div class="col-md-8 text-center mx-auto">
                                <div class="card card-success">
                                    <div class="card-header">
                                        <h3 class="card-title mb-0 float-left">تغییر رمز عبور</h3>
                                    </div>
                                    <div class="card-body py-4">
                                        <p class="py-2">رمز عبور با موفقیت تغییر کرد</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}