{% extends 'base.html' %}
{% load crispy_forms_tags%}
{% block title %}  بازیابی گذرواژه {% endblock %}
{% block content %}
    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-7 col-lg-5">
                        <div class="custom-bg p-2">

                            <div class="my-3 text-center">بازیابی گذرواژه</div>
                            <form class="" method="post">
                                {% csrf_token %}
                                <div class="email-input">
                                    {{ form.email | as_crispy_field }}
                                </div>

                                <div class="my-3">
                                    <button type="submit" class="btn custom-btn w-100">درخواست بازیابی گذرواژه</button>
                                </div>

                            </form>


                            <div class="">
                                <p class="small text-center my-3"><a href="{% url "accounts:register" %}">ثبت‌نام نکرده‌اید؟ برای
                                        ثبت‌نام کلیک کنید.</a></p>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock %}


