{% extends 'base.html' %}
{% load crispy_forms_tags%}
{% block title %} پسوورد جدید{% endblock %}
{% block content %}

    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-7 col-lg-5">
                        <div class="custom-bg p-2">


                            {% if validlink %}
                                <div class="my-3 text-center">تغییر گذرواژه</div>
                                <form class="" method="post">
                                    {% csrf_token %}
                                    <div class="field">
                                        <p>{{ form.new_password1 | as_crispy_field }}</p>
                                    </div>
                                    <div class="field">
                                        <p>{{ form.new_password2 | as_crispy_field }}</p>
                                    </div>

                                    <div class="my-3">
                                        <button type="submit" class="btn custom-btn w-100">تغییر گذرواژه</button>
                                    </div>
                                </form>
                            {% else %}
                                <p><a href="{% url "accounts:password_reset_form" %}"> لینک منقضی شده است! دوباره تلاش
                                    کنید!!</a></p>
                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}

