{% load static %}

<div class="shadow position-fixed w-100 h-100 d-md-none d-lg-none"></div>
<!-- top-header -->
<header class="position-relative">
    <div class="main-header position-relative">
        <div class="nav-header-box mob1 d-md-flex d-lg-flex align-items-center justify-content-between">

            <div class="d-flex flex-column flex-md-row align-items-center pr-md-4">
                <div class="logo d-flex justify-content-center align-items-center ml-3">
                    <a href="{% url 'home:main' %}"><img src="{% static 'assets/image/logo.png' %}"
                                                         class="logo-img img-fluid"
                                                         alt=""/></a>
                </div>
                <!-- SEARCH -->
                <form action="{% url "videos:search" %}" method="get">
                    <div class="nav-search-btn">
                        <input type="search" name="q" value="{{ request.GET.q }}" required placeholder="جستجو">

                        <button type="submit"><i class="fa fa-search"></i></button>

                    </div>
                </form>
                <!-- END SEARCH -->

            </div>
            <div class="d-block d-md-flex align-items-center pl-md-4">
                <!-- NOTIFICATIONS -->
                <div class="dropdown notification-box">
                    <div class="position-relative d-none d-md-block " type="button" id="dropdownMenuButton"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'assets/image/notification.png' %}" class="notification-img" alt="">
                        <div class="badge">2</div>
                    </div>
                    <div class="dropdown-menu notification-menu-items custom-bg"
                         aria-labelledby="dropdownMenuButton">
                        <a class="border-bottom" href="#"> ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </a>
                        <a class="border-bottom" href="#"> ایپسوم متن ساختگی با تولید </a>
                        <a class="border-bottom" href="#"> ایپسوم متن ساختگی با تولید سادگی</a>

                    </div>
                </div>
                <!-- END NOTIFICATIONS -->

                <div class="header-login d-none d-md-block">
                    <div class="notification-box dropdown">
                        <a href="" class="btn login-btn" type="button" id="dropdownMenuButton"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            {% if request.user.image %}
                                <img src="{{ request.user.image.url }}" alt="">
                            {% else %}
                                <img src="{% static 'assets/image/sutdent-prof.png' %}" alt="">
                            {% endif %}

                        </a>
                        <div class="dropdown-menu account-menu-items custom-bg"
                             aria-labelledby="dropdownMenuButton">
                            {% if request.user.is_authenticated %}
                                <a class="" href="{% url 'accounts:profile' request.user.id %}"> پروفایل</a>
                                <a class="" href="{% url 'accounts:favourite_list' %}"> مورد علاقه ها</a>
                                <a class="" href="{% url 'accounts:logout' %}"> خروج</a>
                            {% else %}
                                <a class="" href="{% url 'accounts:login' %}">
                                    <i class=" fa fa-account"></i>
                                    ورود
                                </a>
                                <a class="" href="{% url 'accounts:register' %}"> ثبت نام</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</header>

<nav class="nav-menu nav-menu-pc  d-none d-md-flex px-4 " id="navbar">
    {% for cat in categories %}
        {% if cat.parent == None %}
            <li id="" class="mx-3 menu-item">
                <a href="{% url 'videos:category_detail' cat.slug %}"
                   class="nav-menu-item">{{ cat.title }}
                </a>
                <ul class="sub-menu ">
                    {% for cat in cat.children.all %}
                        <a href="{% url 'videos:category_detail' cat.slug %}">
                            {{ cat.title }}
                        </a>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}

    <li id="" class="mx-3 menu-item"><a href="{% url "accounts:master" %}" class="nav-menu-item">مدرسین </a>
    </li>
</nav>






