{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block content %}

    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-7 col-lg-5">
                        <div class="custom-bg p-2">

                            <div class="my-3 text-center">بازیابی گذرواژه</div>
                            <form class="" method="post">


                                <p class="btn btn-success" style="padding: 35px">

                                    ما دستورالعمل های تنظیم رمز عبور را برای شما ایمیل کرده ایم. اگر یک حساب کاربری با
                                    ایمیل شما
                                    وجود دارد
                                    وارد شده شما باید این دستورالعمل ها را به زودی دریافت کنید.
                                    <br>
                                    اگر ایمیلی دریافت نکردید، لطفاً بررسی کنید که آدرس وارد شده با آدرس یکسان باشد
                                    ثبت شده با
                                    و پوشه اسپم خود را نیز بررسی کنید

                                </p>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}
