{% extends 'base.html' %}
{% block title %} {% endblock %}
{% block content %}

    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-7 col-lg-5">
                        <div class="custom-bg p-2">

                            <div class="container-fluid">
                                <h2 align="center">تغییر رمز عبور</h2>
                                <div class="row px-xl-5">
                                    <div class="col-lg-7 mb-5" style="padding: 30px;margin: auto">
                                        <div class="alert alert-success" style="font-size: large">
                                            رمز عبور شما با موفقیت تغییر کرد.
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}